.todoList__box{
    background-color: white;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    border-left: 2px solid black;
    padding: 1rem;
    width: 21rem;
}
.todoList__box p:first-child{
    color: var(--primary-color);
    font-weight: 500;
}
.todoList__box p:nth-child(2){ 
    color: rgba(0, 0, 0, .5);
    font-size: .8rem;
    font-weight: 500;
    margin-top: .3rem;
}
.twoBtns{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.twoBtns button{
    all: unset;
    border: 1px solid var(--primary-color);
    font-size: .89rem;
    padding: 0 .8rem;
}