.todoList__box{
    background-color: white;
    display: flex;
    /* align-items: baseline; */
    gap: 1rem;
    border-left: 2px solid black;
    padding: 1rem;
    width: 21rem;
}
.todoList__box p:first-child{
    color: var(--primary-color);
    font-weight: 500;
}
.todoList__box p:nth-child(2){ 
    color: rgba(0, 0, 0, .5);
    font-size: .8rem;
    font-weight: 500;
    margin-top: .3rem;
}
.twoBtns{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.twoBtns button{
    outline: none;
    border: 1px solid var(--primary-color);
    font-size: .78rem;
    font-weight: 600;
    padding: .15rem .8rem;
    cursor: pointer;
    border-radius: 3px;
}
.twoBtns button:first-child{
    color: white;
    /* background-color: var(--primary-color); */
}
.default-button1{
    background-color: var(--primary-color);
}
.yellow{
    background-color: rgb(255, 255, 104);
}
.pink{
    background-color: rgb(255, 232, 236);
}
.green{
    background-color: green;
}
.lightblue{
    background-color: rgba(0, 255, 255, .7);
}