.todoList__statusContainer{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5em;
}
@media screen and (max-width: 1210px) {
    .todoList__statusContainer{
        /* grid-template-columns: repeat(2, 1fr); */
        flex-wrap: wrap;
    }
}