:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --primary-color: #27323f;
    --text-color: #b1b2b3;
}
/* ul{
    list-style: none;
}  */
a {
    text-decoration: inherit;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padding__section{
    padding: 1.5rem;
}
.todolist__app{
    display: flex;
    overflow-x: hidden;
}
.todoList__app-headerAndBody{
    /* display: flex;
    flex-direction: column; */
    /* gap: 5rem; */
    width: 93%;
    position: relative;
    left: 6rem;
    background-color: rgb(230, 227, 227);
}
.todoList__app-mainContent{
    padding: 2rem 1.5rem;
}